@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext);

@mixin css3pie() {
  behavior: url('/sitemain/js/PIE.htc');
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin placeholderFocus {
  :focus::-webkit-input-placeholder {@content}
  :focus:-moz-placeholder           {@content}
  :focus::-moz-placeholder          {@content}
  :focus:-ms-input-placeholder      {@content}
}

@font-face {
  font-family: 'Calibri';
  src: url('/sitemain/fonts/Calibri.eot?#iefix') format('embedded-opentype'), url('/sitemain/fonts/Calibri.woff') format('woff'), url('/sitemain/fonts/Calibri.ttf') format('truetype'), url('/sitemain/fonts/Calibri.svg#Calibri') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hide {
  display: none;
}

:focus {
  outline: 0;
  outline-style: none;
}

::-moz-focus-inner {
  border: 0;
}

a:active {
  outline: 0;
}

iframe {
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #000;
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  min-height: 100%;
  height: 100%;
}

a {
  background: transparent;
  outline: 0;
}

a:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  a {
    color: #000;
    font-size: 30px;
  }
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  width: 40px;
  display: block;
  text-align: center;
  border: 0;
  margin: 0 auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----end normalize-----*/
.layout ul:after, .group:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*---------------------------*/
.layout {
  margin: 0 auto;
  max-width: 1000px;
}

.catalog .layout {
  padding: 0px 20px;
  max-width: 1000px;
}

.layout-max {
  /*max-width: 1400px;*/
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.header {
  text-align: center;
  padding: 20px 0 14px;
}

.logo {
  display: inline-block;
  margin-left: -28px;
  position: relative;
}

.wrapper-header {
  background: #fff;
}

/*-----------end header-----------*/
.wrapper-nav {
  background: #000;
  position: relative;
  z-index: 1;
}

.wrapper-nav-main {
  background: rgba(0, 0, 0, .6);
}

.nav {
  height: 50px;
  overflow: hidden;
}

.nav ul {
  margin: 0px auto;
  padding: 0;
//  width: 835px;
  text-align: justify;
  height: 50px;
}

.nav li {
  display: inline-block;
  line-height: 52px;
  line-height: 50 px\0;
  &.hide{
   display: none;
  }
}

.nav ul:after{
  display: inline-block;
  width: 100%;
  content: ' ';
}

.nav li.last {
  width: 100%;
  height: 0;
}

.nav li a {
  color: #c4c4c4;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 3px;
}

.nav li a:hover {
  color: #ffd40d;
}

.nav li.current a {
  color: #ffd40d;
}

.flexslider{
  margin-top: -50px!important;
}

.flexslider .text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.flexslider .text .table {
  display: table;
  width: 100%;
  height: 100%;
}

.flexslider .text .table-cell {
  display: table-cell;
  vertical-align: middle;
  &.dark {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .video-play{
    font-size: 25px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-shadow: 2px 2px 2px black;
    display: inline-block;
    width: 367px;
    height: 47px;
    line-height: 46px;
    text-align: center;
    border: solid 4px #fff;
    box-shadow: 2px 2px 2px black;
    -moz-box-shadow: 2px 2px 2px black;
    -webkit-box-shadow: 2px 2px 2px black;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-top: 1.34em;
    padding-left: 7px;
  }
}

.slogan-title {
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  p {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
  }
}

/*------------end slogan----------------------*/
.main {
  padding: 88px 0 75px;
}

.main * {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  letter-spacing: 1px;
  margin: 0 0 21px;
}

/*-----------end main------------------------------*/
.wrapper-collection {
  background: #bcbcbc;
  background: -moz-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcbcbc), color-stop(0%, #c3c3c3), color-stop(1%, #d2d2d2), color-stop(2%, #dadada), color-stop(29%, #dddddd), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: -o-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: -ms-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: linear-gradient(to bottom, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
}

.wrapper-collection.catalog {
  background: #efefef;
  padding-bottom: 45px;
  padding-top: 19px;
  .gallery {
    &.group {
      margin-top: 0px;
      text-align: center;
      font-size: 0;
    }
  }
}

.collection {
  padding: 27px 0 201px 0px;
}

.collection-title {
  font-size: 30px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  margin: 0;
  letter-spacing: 3px;
}

.gallery {
  position: relative;
  &.group {
    margin-top: 19px;
    font-size: 0;
  }
  .play{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    img{
      width: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 0;
    }
  }
}

.gallery > div {
  display: inline-block;
  position: relative;
  width: 33.33%;
}

.gallery div a {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin: 3px;
  &.fancybox {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #000;
    /* works for IE 5+. */
    filter: alpha(opacity=50);

    /* works for IE 8. */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* works for old school versions of the Mozilla browsers like Netscape Navigator. */
    -moz-opacity: 0.5;

    /* This is for old versions of Safari (1.x) with KHTML rendering engine */
    -khtml-opacity: 0.5;

    /* This is the "most important" one because it's the current standard in CSS. This will work in most versions of Firefox, Safari, and Opera. */
    opacity: 0.5;
    width: auto;
    z-index: 1;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    &:hover {
      opacity: 0;
    }
  }
}

.gallery img {
  display: block;
  width: 100%;
}

.wrap_name {
  position: absolute !important;
  top: 0px !important;
  width: 100% !important;
  height: 100% !important;
  float: none !important;
}

.name {
  position: inherit !important;
  margin: 0;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  float: none !important;
  width: 100% !important;
  height: 100% !important;
  display: table !important;
  background: rgba(0, 0, 0, 0.10);
  zoom: 0;
  filter: alpha(opacity=10);
  opacity: 1;
  &.nameHide {
    background: none;
  }
}

.name div {
  display: table-cell !important;
  text-align: center;
  vertical-align: middle;
  float: none !important;
  width: auto !important;
}

.name a {
  color: #ffffff;
}

/*--------------end collection--------------*/
.wrapper-img {
  height: 57px;
  position: relative;
  background: #000!important;
  &.wrapper-img-footer{
    height: 57px;
    position: absolute;
    bottom: 0;
  }
  .footer_text {
    display: table;
    position: relative;
    background: none;
    line-height: 138px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px #000;
    z-index: 2;
    overflow: hidden;
    p{
      display: table-cell;
      line-height: 20px;
      margin: 0;
      vertical-align: middle;
      a{
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .head {
    max-width: 835px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0px;
    height: 36px;
    line-height: 1;
    font-size: 36px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    color: #fff;
    background: none;
  }
  .headImg {
    position: absolute;
    max-width: 835px;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background: none;
  }
}

.wrapper-footer {
  margin-top: 0px;
  height: 66px;
  background: #f1f0f0;
  text-align: center;
  line-height: 66px;
  display: none;
}
.wrap{
  position: absolute;
  width: 100%;
  min-height: 100%;
}
.wrapperContent {
  max-width: 836px;
  margin: 0 auto;
  padding-bottom: 154px;
  &.newsContent{
    max-width: 1400px;
    .contentWhite{
      max-width: 1400px;
    }
  }
}
.wrapperContentBlack{
  background: url(/sitemain/img/bg80.png);
  max-width: 876px;
  margin: 20px auto;
  padding-top: 20px;
  p.img{
    padding-top: 0px;
  }
  *{
    color: #fff!important;
  }
}

.wrap_content {
  background: #bcbcbc;
  background: -moz-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcbcbc), color-stop(0%, #c3c3c3), color-stop(1%, #d2d2d2), color-stop(2%, #dadada), color-stop(29%, #dddddd), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: -o-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: -ms-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: linear-gradient(to bottom, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  min-height: 500px;
}

.content {
  padding: 0px 20px 134px 20px;
  max-width: 836px;
  margin: 0 auto;
  * {
//    text-transform: uppercase;
  }
  &.gallery-content {
    max-width: 100%;
    padding: 0;
    padding-bottom: 134px;
    .gallery {
      div {
        width: 10%;
      }
    }
  }
  &.catalog {
    padding: 25px 20px 159px 20px;
  }
}

.content.contentWhite {
  padding: 0px;
  max-width: 836px;
  margin: 0px auto 0px auto;
  background: none;
}

.content p {
  font-size: 18px!important;
  line-height: 22px!important;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding: 1em 0px;
}

.content .leftText,
.content .rightText {
  vertical-align: top;
}

.content {
  .rightText {
    padding: 35px 0px 0px 0px;
    max-width: 836px;
    margin: 0 auto;
    position: relative;
    * {
      color: #000 !important;
    }
    .social-buttons {
      text-align: left;
      padding-top: 20px;
      margin: 0 -5px;
    }
  }
}

.content {
  .leftText {
    max-width: 100%;
    .images {
      padding: 0 3px 15px 3px;
    }
  }
}

.content .leftText .image {
  padding: 0 1%;
}

.content .leftText .image .photo img {
  width: 100%;
}

.content .leftText .image .nav-buttons a {
  color: #000;
}

.content .leftText .image .nav-buttons a.next {
  float: right;
}

//.content .leftText .images a {
//  display: inline-block;
//  width: 33.33%;
//  padding: 1%;
//}

.content .leftText img {
  width: 100%;
}

.videos {
  position: relative;
  width: 835px;
  margin: 0 auto;
  padding: 20px 0px;
  .wrap_video {
    margin-bottom: 50px;
    h1{
      font-size: 18px!important;
      text-transform: uppercase!important;
    }
    .description {
      p {
        font-size: 14px;
        b{
          font-size: 30px;
        }
      }
    }
  }
  .video {
    position: relative;
    .background {
      position: absolute;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      top: 0;
      bottom: 6px;
      z-index: 0;
    }
    a {
      display: block;
      width: 216px;
      height: 216px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;
    }
  }
}

// facebook link
a.facebook {
  position: absolute;
  right: 6px;
  top: 6px;
}

// end facebook link

// choose feedback
.chooseFeedback {
  height: 300px;
  display: table;
  width: 100%;
  margin-top: 50px;
  div {
    display: inline;
    vertical-align: middle;
    text-align: center;
    a {
      border: solid 2px #000;
      background: #fff;
      color: #000;
      padding: 0px 10px;
      text-decoration: none;
      margin-bottom: 25px;
      height: 36px;
      min-width: 226px;
      display: inline-block;
      line-height: 38px;
    }
  }
}

// end choose feedback

// icone
.icone {
  position: absolute;
  right: 15px;
  top: 15px;
  a {
    display: inline-block;
    margin-left: 2px;
    width: 27px;
    height: 27px;
    background-image: url('/sitemain/img/icone/social.png');
    &.instagram{
      background-position: 0px -74px;
    }
    &.fb{
      background-position: 0px 0px;
    }
    &.youtube{
      background-position: 0px -185px;
    }
    &.twitter{
      background-position: 0px -148px;
    }
    &.pinterest{
      background-position: 0px -111px;
    }
    &.google{
      background-position: 0px -37px;
    }
  }
}

//end icone
// bottom box
.bottombox {
  position: absolute;
  z-index: 5;
  padding-top: 59px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: url(/sitemain/img/bg80.png);
  line-height: 18px;
  width: 100%;
  &.bottombox-catalog{
    padding-bottom: 59px;
    background: none;
    margin-top: 0px;
    margin-bottom: 0px;
    h2{
      color: #000;
    }
  }
  .c950 {
    max-width: 835px;
    margin: 0 auto;
    padding: 0 20px;
    .error{
      color: red;
      margin-bottom: 20px;
    }
  }
  h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    letter-spacing: 1px;
    margin: 0 0 30px 0;
    width: 760px;
    line-height: 22px;
    a{
      display: inline-block;
      font-family: Arial;
      font-size: 16px;
      font-weight: normal;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 20px 20px 20px 0px;
    }
  }
  .boxs{
    margin: 0px -64px;
    .wrap-box{
      display: inline-block;
      width: 50%;
      margin-bottom: 30px;
      vertical-align: top;
      .box{
        margin: 0px 64px;
        font-size: 0;
        .block-left{
          display: inline-block;
          width: 40%;
          vertical-align: top;
        }
        .block-right{
          display: inline-block;
          width: 60%;
          vertical-align: top;
        }
        a {
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
        }
        strong {
          display: block;
          color: #000;
          font-size: 14px;
          text-transform: uppercase;
          padding-left: 20px;
          margin-top: -4px;
          margin-bottom: 10px;
        }
        p{
          color: #000;
          margin: 0;
          font-size: 8px;
          padding-left: 20px;
        }
        img{
          border: solid 1px;
          margin-top: 0px;
          width: 100%;
        }
        .buttons{
          text-align: left;
          margin-left: 20px;
          margin-top: 10px;
          margin-bottom: 10px;
          .iconlink {
            display: inline-block;
            width: 29px;
            height: 20px;
            color: #000;
            margin: 0px 10px 0px 0px;
            &.download {
              background: url(/sitemain/img/pdf_buttons.png) no-repeat 0 0;
            }
            &.view {
              background: url(/sitemain/img/pdf_buttons.png) no-repeat -29px 0;
            }
          }
        }
      }
    }
  }
}

// end bottom box

.wrap_contacts {
  padding: 40px 0px 15px 0px;
  .contacts {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    a {
      color: #000;
    }
    p {
      padding: 0px 0px 25px 0px;
      &.flag{
        padding: 0px 0px 12px 0px;
        img{
          margin-right: 10px;
          vertical-align: middle;
        }
        span{
          vertical-align: middle;
        }
      }
    }
  }
  .chooseFeedback {
    height: auto;
    display: inline-block;
    width: 30%;
    text-align: right;
  }
}

.icon_reg {
  display: inline-block;
  vertical-align: middle;
  span {
    font-size: 26px;
    height: 23px;
    display: inline;
    vertical-align: 0px;
  }
}

.map_img {
  padding: 0px;
  text-align: center;
}

.language {
  position: absolute;
  top: 15px;
  left: 12px;
  a {
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background: #656565;
    padding: 6px 0px;
    margin-left: 3px;
    border-radius: 12px 12px;
    cursor: pointer;
    width: 34px;
    text-align: center;
    display: inline-block;
    &.selected, &:hover {
      background: #000;
    }
  }
}

.social {
  margin-left: -5px;
  margin-top: -5px;
}

#catalogFeedback {
  margin-left: -10px;
  max-width: 100%;
  button[type="button"] {
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    width: 120px;
    border: 0;
    background: #686868;
    vertical-align: top;
  }
  .form-group {
    width: 100%;
    text-align: left;
  }
  .pull-left, .pull-right{
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
  .pull-right{
    text-align: right;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    font-family: Arial;
    font-size: 16px;
    width: 331px;
    height: 14px;
    border: 0;
    padding: 12px;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    color: #858686;
    font-weight: bold;
  }
  textarea, select{
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px;
    margin-bottom: 20px;
    color: #858686;
    font-weight: bold;
  }
  select{
    width: 355px;
  }
  label{
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 17px;
    display: block;
  }
  .successfully{
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    width: 800px;
    line-height: 38px;
  }
}

@include placeholder {
  color: #858686;
  font-weight: bold;
}

@include placeholderFocus {
  color: #fff;
}

.wrap_post{
  h2{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 27px 0px 10px 0px;
    line-height: 30px;
  }
  .date{
    font-size: 30px;
  }
  .wrap_video{
    margin-bottom: 12px;
  }
  .description{
    p{
      font-size: 14px;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      padding: 10px 0px;
    }
  }
  .gallery{
    margin-top: 20px;
    margin-bottom: 18px;
  }
  .videos{
    margin-top: 20px;
    padding: 0px;
  }
  .social{
    margin-top: 18px;
  }
}

hr{
  border: #d9d9d9 solid 1px;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0;
}

.ymaps-b-balloon__close{
  display: none!important;
}

.ymaps-b-balloon__content-body{
  text-align: center;
}

.ymaps-b-balloon__content-body h4{
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

.ymaps-b-balloon__content-body img{
  width: 100%;
}

.headMap{
  text-align: center;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  z-index: 1000;
  padding: 1em 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-size: 30px;
}

// News
.boxes{
  padding-bottom: 136px;
  .box{
    display: inline-block;
    width: 33.33%;
    margin-bottom: 0px;
    .wrap_box{
      position: relative;
      padding: 0px;
    }
    .wrap-m-forTable{
      position: absolute;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
    }
    .item{
      display: inline-block;
      width: 100%;
      height: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      border-bottom: none;
      text-transform: uppercase;
      background: #000;
      background-position: 50% 50%;
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      transform: translateZ(0);
      img{
        width: 100%;
        margin-bottom: -6px;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
      }
      &:hover{
        img{
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
          filter: alpha(opacity=25);
          opacity: .25;
          -webkit-transition: all 0.4s ease-out;
          -moz-transition: all 0.4s ease-out;
          -o-transition: all 0.4s ease-out;
          -ms-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
        }
        .m-forTable{
          opacity: 1;
          color: #fff;
        }
      }
    }
    .m-forTable{
      display: table;
      width: 100%;
      position: relative;
      height: 100%;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      text-align: center;
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
    }
    .m-forTd{
      display: table-cell;
      vertical-align: middle;
      span.font{
        display: block;
//        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
//        filter: alpha(opacity=25);
//        opacity: .25;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      span.text{
        font-size: 24px;
        font-weight: 300;
        padding: 18px 25px;
        color: #fff;
        vertical-align: middle;
        display: block;
      }
    }
  }
}
// end news

// Colors Catalogs
* html div.collection-thumb .content-collection {
  display: inline;
}

*+html div.collection-thumb .content-collection {
  display: inline;
}
div.collection-thumb .content-collection{
  position: relative;
  display: inline-block;
  width: 16.66%;
  vertical-align: top;
  cursor: pointer;
}
span.cf-name{
  text-align: center;
  display: block;
  line-height: 14px;
  color: #000;
}
.cf-image-name{
  min-height: 108px;
  margin-bottom: 18px;
  span{
    font-size: 12px;
    text-align: center;
    display: block;
    line-height: 14px;
    margin-top: 10px;
    img{
      border-radius: 50%;
      width: 79px;
    }
  }
}
.cf-m-info {
  position: absolute;
  top: 0;
  left: -999em;
  background-color: #FFFEFF;
  /*padding:10px;*/
  border: solid 1px;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#888')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#888');
}
.cf-m-info-prod-name {
  font-size: 13px;
  color: #A08866;
  font-family: 'proxi-semi',helvetica,arial,sans-serif;
  display: block;
  height: auto;
  min-height: 14px;
  height: 14px;
  margin-top: 16px;
}
.cf-m-info-cat-name {
  font-size: 13px;
  color: #6D7072;
  display: block;
  font-family: 'proxi-semi',helvetica,arial,sans-serif;
}
.cf-m-info-descr {
  font-size: 12px;
  color: #231F20;
  display: block;
  white-space: normal;
  width: 216px;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 10px;
}
.collection-thumb .content-collection:hover .cf-m-info, .collection-thumb .content-collection.over .cf-m-info {
  left: -50px;
  top: -90px;
  position: absolute;
}
.collection-thumb .content-collection:hover .product-image-name, .collection-thumb .content-collection:hover .cf-m-info, .collection-thumb .content-collection.over .product-image-name, .collection-thumb .content-collection.over .cf-m-info {
  z-index: 100;
}
.cf-m-info-prod-name {
  font-size: 13px;
  color: #A08866;
  font-family: 'proxi-semi',helvetica,arial,sans-serif;
  display: block;
  height: 14px;
  margin-top: 16px;
}
.cf-m-info-cat-name {
  font-size: 13px;
  color: #6D7072;
  display: block;
  font-family: 'proxi-semi',helvetica,arial,sans-serif;
}
.cf-m-info-descr {
  color: #231F20;
  display: block;
  white-space: normal;
  width: 216px;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 10px;
}
// end Colors Catalogs

@media (max-width: 1200px){
  #map{
    max-width: 836px;
    margin: 0 auto;
  }
}

.cc_container{
  font-family: 'Noto Sans', sans-serif!important;
}

.cc_container .cc_btn, .cc_container .cc_btn:visited{
  border: 0!important;;
  background: #fff!important;;
  color: #000!important;;
  padding: 0px 10px!important;;
  text-decoration: none!important;;
  height: 36px!important;;
  min-width: 226px!important;;
  display: inline-block!important;;
  line-height: 38px!important;;
  border-radius: 0px!important;;
  -moz-border-radius: 0px!important;;
  -webkit-border-radius: 0px!important;;
}

.colors img{
  margin-bottom: 20px;
}

// Breadcrumbs gallery
.wrapper-breadcrumbs{
  background: #dcdcdc;
  .breadcrumbs{
    margin: 0 auto;
    max-width: 1000px;
    ul{
      display: inline-block;
      width: 50%;
      padding: 0;
      margin: 0;
      &.right{
        text-align: right;
        li{
          span{
            text-decoration: underline;
            &.line{
              text-decoration: none;
            }
          }
        }
      }
      li{
        display: inline-block;
        span{
          display: inline-block;
          height: 50px;
          line-height: 50px;
          text-transform: uppercase;
          &.line{
            padding: 0px 5px;
          }
        }
        a{
          text-transform: uppercase;
          color: #000;
          &:hover{
            color: #ffd40d;
            text-shadow: -2px 0px 3px rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }
}
// end Breadcrumbs gallery

// Product
.product{
  .wrap_name{
    height: 40px!important;
    top: auto!important;
    bottom: 0;
    left: 0px;
    right: 0px;
    margin: auto;
    width: auto!important;
  }
  .name{
    font-size: 16px;
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
    &:hover{
      background: rgba(0, 0, 0, 0.6);
    }
  }
}
.wrap-window-product{
  position: fixed;
  height: 100%;
  width: 100%;
  background:rgb(0,0,0);
  background: transparent\9;
  background:rgba(0,0,0,0.79);
  z-index: 2;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c9000000,endColorstr=#c9000000);
  zoom: 1;
  .left{
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0px;
    margin: auto 0;
    width: 95px;
    cursor: pointer;
    background-color: #6b6b6b;
    .inner{
      position: absolute;
      left: 0;
      right: 0px;
      top: 0;
      bottom: 0px;
      margin: auto;
      background: url('../img/icon-product.png') 0px center no-repeat;
      width: 31px;
      height: 48px;
    }
//    @media (max-width: 1200px){
//      width: 30px;
//      height: 197px;
//      background: #6b6b6b url("../img/icon-product.png") 0px center no-repeat;
//      background-size: cover;
//    }
  }
  .right{
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0px;
    margin: auto 0;
    width: 95px;
    cursor: pointer;
    background-color: #6b6b6b;
    .inner{
      position: absolute;
      left: 0;
      right: 0px;
      top: 0;
      bottom: 0px;
      margin: auto;
      background: url('../img/icon-product.png') -31px center no-repeat;
      width: 31px;
      height: 48px;
    }
    .text{
      display: none;
    }
//    @media (max-width: 1200px){
//      width: 30px;
//      height: 197px;
//      background: #6b6b6b url("../img/icon-product.png") -132px center no-repeat;
//      background-size: cover;
//    }
  }

  .n-left{
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0px;
    margin: auto 0;
    width: 14px;
    height: 22px;
    background: url('../img/left.png') 0 center no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .n-right{
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0px;
    margin: auto 0;
    width: 14px;
    height: 22px;
    background: url('../img/right.png') 0 center no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .window-product{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background: #fff;
    .close{
      position: absolute;
      right: 0;
      top: 0;
      width: 95px;
      height: 85px;
      background-color: #000000;
      cursor: pointer;
      z-index: 2;
      .inner{
        position: absolute;
        width: 29px;
        height: 29px;
        top: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: url('../img/icon-product.png') -62px -9px no-repeat;
      }
      .text{
        position: absolute;
        top: 57px;
        left: 21px;
        color: #fff;
        text-transform: uppercase;
      }
    }
    .box-product{
      padding: 70px 115px;
      .gallery-list{
        position: absolute;
        top: 70px;
        bottom: 70px;
        overflow-y: auto;
        overflow-x: hidden;
        ul{
          width: 125px;
          padding: 0;
          margin: 0;
          li{
            a{
              img{

              }
            }
          }
        }
      }
      .image{
        position: absolute;
        top: 70px;
        bottom: 70px;
        left: 260px;
        right: 635px;
        margin: auto;
        @media (max-width: 1200px){
          right: 340px;
        }
        div.table{
          display: table;
          width: 100%;
          height: 100%;
          div.table-cell{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
          }
        }
        .wrap-img{
          position: relative;
          display: inline-block;
          img{
            visibility: hidden;
          }
        }
      }
      .description{
        position: absolute;
        right: 115px;
        top: 70px;
        bottom: 165px;
        width: 500px;
        padding-left: 20px;
        overflow-y: auto;
        overflow-x: hidden;
        ul{
          list-style-type: disc;
        }
        *{
          padding-right: 14px;
        }
        .collection-image{
          margin-bottom: 40px;
        }
        .text{
          font-size: 14px;
          text-align: justify;
        }
        @media (max-width: 1200px){
          width: 250px;
        }
        h1{
          font-size: 16px;
          line-height: 1;
          letter-spacing: 3px;
          margin: -9px 0px 15px 0px;
          text-transform: uppercase;
          @media all\0 {
            margin: 0px 0px 15px 0px;
          }
        }
        p{

        }
        h2{
          font-size: 16px;
          line-height: 1;
          letter-spacing: 3px;
          text-transform: uppercase;
        }
        div.collection-thumb{
          margin: 0px -15px;
          .content-collection{
            margin: 0px 15px;
          }
        }
        .cf-m-info{
          width: 150px;
          img{
            width: 150px;
          }
        }
        .collection-thumb .content-collection:hover .cf-m-info, .collection-thumb .content-collection.over .cf-m-info{
          left: -20px;
          top: -50px;
        }
      }
      .form{
        display: none;
        position: absolute;
        right: 115px;
        top: 70px;
        bottom: 70px;
        width: 500px;
        padding-left: 20px;
        overflow-y: auto;
        overflow-x: hidden;
        label{
          font-family: Arial;
          font-size: 16px;
          color: #fff;
          text-transform: uppercase;
          margin-bottom: 17px;
          display: block;
        }
        .successfully{
          font-family: Arial;
          font-size: 16px;
          color: #000;
          text-transform: uppercase;
          width: 800px;
          line-height: 38px;
        }
        input{
          font-family: Arial;
          font-size: 16px;
          width: 260px;
          height: 14px;
          border: 0;
          padding: 12px;
          margin-bottom: 20px;
          text-transform: uppercase;
          display: inline-block;
          vertical-align: top;
          color: #858686;
          font-weight: bold;
          border: #000 solid 2px;
          &.error{
            border: red solid 2px;
          }
        }
        span{
          margin-left: -15px;
        }
        button[type="submit"]{

        }
      }
    }
    button.sendMessage{
      position: absolute;
      background: url('/sitemain/img/icon-email.png') 40px 6px no-repeat;
      right: 363px;
      bottom: 70px;
      color: #000;
      width: 250px;
      height: 40px;
      margin-top: 30px;
      text-transform: uppercase;
      border: #000 solid 2px;
      content: '';
      cursor: pointer;
      padding-left: 83px;
      text-align: left;
      @media (max-width: 1200px){
        right: 70px;
      }
      &:focus{
        outline: 0;
      }
    }
  }
}
// end Product

.accept{
  label{
    text-transform: none!important;
  }
  #accept{
    padding: 10px 0px 20px 0px;
    label{
      display: inline-block!important;
      text-transform: none!important;
      padding-left: 0px;
      margin-bottom: 0px!important;
      margin-right: 40px;
    }
    input[type="radio"]{
      display: inline-block;
      height: 10px;
      width: 10px;
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 1450px) {
  .wrap-window-product{
    .window-product{
      .box-product{
        .image{
          right: 535px;
        }
        .description{
          width: 400px;
        }
      }
      button.sendMessage{
        right: 263px;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .wrap-window-product{
    .window-product{
      .box-product{
        .image{
          right: 485px;
        }
        .description{
          width: 350px;
        }
        .form{
          width: 350px;
        }
      }
      button.sendMessage{
        right: 213px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
//  .wrap-window-product .window-product .box-product .gallery-list{
//    display: none;
//  }
  .wrap-window-product{
    .window-product{
      .box-product{
        .image{
          right: 485px;
        }
        .description{
          width: 320px;
        }
        .form{
          width: 320px;
        }
      }
      button.sendMessage{
        right: 113px;
      }
    }
  }
//  .wrap-window-product .window-product .box-product .image{
//    left: 125px;
//    right: 385px;
//  }
//  .wrap-window-product .window-product button.sendMessage{
//    right: 113px;
//  }
}

@media screen and (max-width: 1100px) {
  .wrap-window-product{
    .window-product{
      .box-product{
        .gallery-list{
          display: none;
        }
        .image{
          left: 125px;
          right: 485px;
        }
        .description{
          width: 320px;
        }
      }
      button.sendMessage{
        right: 113px;
      }
    }
  }
}

@media screen and (max-width: 790px) {
  .wrap-window-product {
    height: 100%;
    overflow-y: auto;
    .n-left{
      width: 14px;
      height: 22px;
      left: 10px;
      background: url("../img/left.png") 0 center no-repeat;
    }
    .n-right{
      width: 14px;
      height: 22px;
      right: 10px;
      background: url("../img/right.png") 0 center no-repeat;
    }
    .left{
      display: none!important;
    }
    .right{
      width: 50%;
      height: 55px;
      background: #000000;
      top: auto;
      bottom: 0;
      z-index: 1;
      .inner{
        display: none;
      }
      .text{
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        right: 0;
        font-size: 21px;
        font-weight: 900;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
      }
    }
    .window-product {
      position: relative;
      min-height: 100%;
      height: auto;
      width: 100%;
      .close{
        width: 50%;
        height: 55px;
        &.close2{
          background: #6b6b6b;
          top: auto!important;
          bottom: 0;
          left: 0;
        }
        .inner{
          display: none;
        }
        .text{
          top: 15px;
          bottom: 55px;
          left: 0;
          right: 0;
          font-size: 21px;
          font-weight: 900;
          text-align: center;
        }
      }
      button.sendMessage{
        bottom: 105px;
        right: 0;
        left: 0;
        margin: 0 auto;
      }
      .box-product{
        position: relative;
        padding: 70px 30px 460px 30px;
        .form{
          background-color: #fff;
          width: auto;
          top: 85px;
          bottom: 0;
          left: 0;
          right: 0;
          padding-left: 0;
        }
        .gallery-list{
          display: none;
        }
        .image{
          height: 223px;
          top: 85px;
          bottom: auto;
          left: 0;
          right: 0;
        }
        .description{
          position: relative;
          padding-left: 0;
          width: auto;
          left: 0;
          right: 0;
          top: 265px;
          bottom: 145px;
        }
      }
    }
  }
}