@mixin css3pie() {
  behavior: url('/sitemain/js/PIE.htc');
}

@font-face {
  font-family: 'Calibri';
  src: url('/sitemain/fonts/Calibri.eot?#iefix') format('embedded-opentype'), url('/sitemain/fonts/Calibri.woff') format('woff'), url('/sitemain/fonts/Calibri.ttf') format('truetype'), url('/sitemain/fonts/Calibri.svg#Calibri') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hide {
  display: none;
}

:focus {
  outline: 0;
  outline-style: none;
}

::-moz-focus-inner {
  border: 0;
}

a:active {
  outline: 0;
}

iframe {
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #000;
  min-height: 100%;
}

body {
  margin: 0;
  background: #ffffff;
  font-family: 'Calibri';
  min-height: 100%;
}

a {
  background: transparent;
  outline: 0;
}

a:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  width: 40px;
  display: block;
  text-align: center;
  border: 0;
  margin: 0 auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----end normalize-----*/
.layout ul:after, .group:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*---------------------------*/
.layout {
  margin: 0 auto;
  max-width: 1000px;
}

.catalog .layout {
  padding: 0px 20px;
  max-width: 1000px;
}

.layout-max {
  /*max-width: 1400px;*/
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.header {
  text-align: center;
  padding: 20px 0 14px;
}

.logo {
  display: inline-block;
  margin-left: -28px;
  position: relative;
}

.wrapper-header {
  background: #fff;
}

/*-----------end header-----------*/
.wrapper-slogan {
  background: url("/sitemain/img/slogan-bg.jpg") top center no-repeat;
}

.wrapper-nav {
  background: #000;
  position: relative;
  z-index: 1;
}

.wrapper-nav-main {
  background: rgba(0, 0, 0, .6);
}

.nav {
  height: 42px;
  overflow: hidden;
}

.nav ul {
  margin: 0px auto;
  padding: 0;
  width: 835px;
  text-align: justify;
  height: 42px;
}

.nav li {
  display: inline-block;
  line-height: 44px;
  line-height: 42px\0;
}

.nav li.last {
  width: 100%;
  height: 0;
}

.nav li a {
  color: #c4c4c4;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 3px;
}

.nav li a:hover {
  color: #ffd40d;
}

.nav li.current a {
  color: #ffd40d;
}

.flexslider .text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.flexslider .text .table {
  display: table;
  width: 100%;
  height: 100%;
}

.flexslider .text .table-cell {
  display: table-cell;
  vertical-align: middle;
  &.dark {
    background: rgba(0, 0, 0, 0.5);
  }
}

.slogan-title {
  font-size: 36px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  p{
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
  }
}

/*------------end slogan----------------------*/
.main {
  padding: 88px 0 75px;
}

.main p {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  letter-spacing: 1px;
  margin: 0 0 21px;
  text-transform: uppercase;
}

/*-----------end main------------------------------*/
.wrapper-collection {
  background: #bcbcbc;
  background: -moz-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcbcbc), color-stop(0%, #c3c3c3), color-stop(1%, #d2d2d2), color-stop(2%, #dadada), color-stop(29%, #dddddd), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: -o-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: -ms-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: linear-gradient(to bottom, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
}

.wrapper-collection.catalog {
  background: #efefef;
  padding-bottom: 45px;
  padding-top: 19px;
  .gallery {
    &.group {
      margin-top: 0px;
    }
  }
}

.collection {
  padding: 27px 0 67px;
}

.collection-title {
  font-size: 30px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  margin: 0;
  letter-spacing: 3px;
}

.gallery {
  &.group {
    margin-top: 19px;
  }
}

.gallery div {
  float: left;
  position: relative;
  width: 33.33%;
}

.gallery div a {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 3px;
  z-index: 0;
  &.fancybox {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #000;
    /* works for IE 5+. */
    filter: alpha(opacity=50);

    /* works for IE 8. */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* works for old school versions of the Mozilla browsers like Netscape Navigator. */
    -moz-opacity: 0.5;

    /* This is for old versions of Safari (1.x) with KHTML rendering engine */
    -khtml-opacity: 0.5;

    /* This is the "most important" one because it's the current standard in CSS. This will work in most versions of Firefox, Safari, and Opera. */
    opacity: 0.5;
    width: auto;
    z-index: 1;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    &:hover {
      opacity: 0;
    }
  }
}

.gallery img {
  display: block;
  width: 100%;
}

.wrap_name {
  position: absolute !important;
  top: 0px !important;
  width: 100% !important;
  height: 100% !important;
  float: none !important;
}

.name {
  position: inherit !important;
  margin: 0;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  float: none !important;
  width: 100% !important;
  height: 100% !important;
  display: table !important;
  background: rgba(0, 0, 0, 0.25);
  zoom: 0;
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  &:hover{
    zoom: 0;
    filter: alpha(opacity=0);
    opacity: 0!important;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }
  &.nameHide {
    background: none;
  }
}

.name div {
  display: table-cell !important;
  text-align: center;
  vertical-align: middle;
  float: none !important;
  width: auto !important;
}

.name a {
  color: #ffffff;
}

/*--------------end collection--------------*/
.wrapper-img {
  //  background: url("/sitemain/img/img-bg.jpg") top center;
  height: 136px;
  position: relative;
  .footer_text{
    position: relative;
    background: none;
    line-height: 129px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px #000;
    text-transform: uppercase;
    z-index: 2;
  }
  div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .head {
    max-width: 835px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0px;
    height: 36px;
    line-height: 1;
    font-size: 36px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    color: #fff;
    background: none;
  }
  .headImg{
    position: absolute;
    max-width: 835px;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background: none;
  }
}

.wrapper-footer {
  margin-top: 0px;
  height: 66px;
  background: #f1f0f0;
  text-align: center;
  line-height: 66px;
}

.wrapperContent {
  max-width: 836px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.wrap_content {
  background: #bcbcbc;
  background: -moz-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcbcbc), color-stop(0%, #c3c3c3), color-stop(1%, #d2d2d2), color-stop(2%, #dadada), color-stop(29%, #dddddd), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: -o-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: -ms-linear-gradient(top, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  background: linear-gradient(to bottom, #bcbcbc 0%, #c3c3c3 0%, #d2d2d2 1%, #dadada 2%, #dddddd 29%, #dddddd 100%);
  min-height: 500px;
}

.content {
  padding: 0px 20px;
  max-width: 836px;
  margin: 0 auto;
  *{
    text-transform: uppercase;
  }
  &.gallery-content {
    max-width: 100%;
    padding: 0;
    .gallery {
      div {
        width: 10%;
      }
    }
  }
  &.catalog {
    padding: 25px 20px;
  }
}

.content.contentWhite {
  padding: 0px;
  max-width: 836px;
  margin: 0px auto 0px auto;
  background: none;
}

.content p {
  font-size: 18px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding: 1em 0px;
}

.content .leftText,
.content .rightText {
  vertical-align: top;
}

.content {
  .rightText {
    padding: 35px 0px 0px 0px;
    max-width: 836px;
    margin: 0 auto;
    position: relative;
    * {
      color: #000 !important;
    }
    .social-buttons {
      text-align: left;
      padding-top: 20px;
      margin: 0 -5px;
    }
  }
}

.content {
  .leftText {
    max-width: 100%;
    .images {
      padding: 0 7px 15px 7px;
    }
  }
}

.content .leftText .image {
  padding: 0 1%;
}

.content .leftText .image .photo img {
  width: 100%;
}

.content .leftText .image .nav-buttons a {
  color: #000;
}

.content .leftText .image .nav-buttons a.next {
  float: right;
}

//.content .leftText .images a {
//  display: inline-block;
//  width: 33.33%;
//  padding: 1%;
//}

.content .leftText img {
  width: 100%;
}

.videos {
  position: relative;
  width: 835px;
  margin: 0 auto;
  padding: 20px 0px;
  .wrap_video {
    margin-bottom: 50px;
    .description{
      p{
        font-size: 18px;
      }
    }
  }
  .video {
    position: relative;
    .background {
      position: absolute;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      top: 0;
      bottom: 6px;
      z-index: 0;
    }
    a {
      display: block;
      width: 216px;
      height: 216px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;
    }
  }
}

// facebook link
a.facebook {
  position: absolute;
  right: 6px;
  top: 6px;
}

// end facebook link

// choose feedback
.chooseFeedback {
  height: 300px;
  display: table;
  width: 100%;
  div {
    display: inline;
    vertical-align: middle;
    text-align: center;
    a {
      border: solid 2px #000;
      background: #fff;
      color: #000;
      padding: 0px 10px;
      text-decoration: none;
      margin-bottom: 25px;
      height: 36px;
      min-width: 272px;
      display: inline-block;
      line-height: 38px;
    }
  }
}

// end choose feedback

// icone
.icone {
  position: absolute;
  right: 10px;
  top: 10px;
}

//end icone
// bottom box
.bottombox {
  height: 35%;
  min-height: 180px;
  position: absolute;
  z-index: 5;
  bottom: 0px;
  padding-top: 30px;
  background: url(/sitemain/img/bg80.png);
  line-height: 18px;
  width: 100%;
  .c950 {
    max-width: 835px;
    margin: 0 auto;
    padding: 0 20px;
  }
  h2 {
    margin: 0 0 20px 0;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
  }
  a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    &.iconlink {
      display: block;
      float: left;
      width: 204px;
      height: 58px;
      margin: 0 10px 0 0;
      padding: 15px 0 0 64px;
      border-top: 1px dotted #777;
      color: #fff;
      line-height: 16px;
      letter-spacing: 1px;
      -webkit-transition: background-color .1s;
      -moz-transition: background-color .1s;
      transition: background-color .1s;
      &#download {
        background: url(/sitemain/img/icon-download.gif) no-repeat 15px 16px;
      }
      .strong {
        text-transform: uppercase;
      }
    }
  }
}

// end bottom box

.wrap_contacts{
  padding: 40px 0px 15px 0px;
  .contacts{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    a{
      color: #000;
    }
    p{
      padding: 0px 0px 25px 0px;
    }
  }
  .chooseFeedback{
    height: auto;
    display: inline-block;
    width: 50%;
    text-align: right;
  }
}

.icon_reg{
  display: inline-block;
  vertical-align: middle;
  span{
    font-size: 33px;
    height: 23px;
    display: inline;
    vertical-align: -17px;
  }
}

.map_img{
  padding: 10px;
  text-align: center;
}

.language{
  position: absolute;
  top: 11px;
  left: 7px;
  a{
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background: #656565;
    padding: 6px 0px;
    margin-left: 3px;
    border-radius: 12px 12px;
    cursor: pointer;
    width: 34px;
    text-align: center;
    display: inline-block;
    &.selected, &:hover{
      background: #000;
    }
  }
}

