{% extends 'SiteMainBundle::layout.html.twig' %}
{% from 'SiteMainBundle:News:macros.html.twig' import newsMacros %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        {% if page.background2.id is defined %}
        .wrap {
            background: url("{% path page.background2, 'reference' %}") top center;
            background-attachment: fixed;
        }
        {% endif %}

        {% if page.background.id is defined %}
        .wrapper-img {
            background: url("{% path page.background, 'reference' %}") top center;
        }
        {% endif %}
    </style>

{% endblock %}

{% block content %}
    <div class="wrapperContent newsContent">
        <div class="content contentWhite">
            {{ newsMacros(news) }}
        </div>
    </div>
{% endblock %}