{% extends 'SiteMainBundle::layout.html.twig' %}
{% from 'SiteMainBundle:News:macros.html.twig' import newsMacros %}

{% block stylesheets %}
    {{ parent() }}
    {% if page is defined %}
        <style type="text/css">
            .wrapper-img {
                background: url("{% path page.background, 'reference' %}") top center;
            }
        </style>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="wrapperContent">
        <div class="content contentWhite">
            {{ newsMacros(news) }}
        </div>
    </div>
{% endblock %}